.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.main-content {
  transition: margin-left 0.3s;
  flex-grow: 1;
}

.sidebar.expanded ~ .main-content {
  filter: blur(4px);
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #1C1C1E;
  color: #ffffff;
}

hr{
  height: 2px;
  background-color: rgb(72, 71, 71);
  width: 90%;
  border: none;
}
